<!-- End of Reservation Section -->
<footer class="mastfoot bg-silver section-padding bg-coffee">
    <div class="inner container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/luxury-nail-spa-logo-white.png" class="img-fluid footer-logo mb-3"
                             alt="Luxury Nail Spa">
                    </div>
                    <div class="col-md-10">
                        <p class="text-about-footer"><b>Luxury Nail Spa, DC 20024,</b> will make you feel like a royalty even after the longest and most stressful of days. Our Mani-Pedi and Waxing treatments are perfect for a quick pick-me-up any day of the week. While you rest on our cozy couches, our specialists will pamper your hands and feet with a soak and scrub for moderate hydration and exfoliation.
                            <br><br>
        
                            <!-- Luxury Nail Spa in Washington | Luxury Nail Spa in DC 20024 -->
                        </p>
                    </div>
                </div>
                <div class="footer-widget pr-0">
                    
                
                </div>

            </div>
            <div class="col-md-6 mb-3 border-top-footer">
                <div class="footer-widget px-lg-1 px-0">
                    <h4 class="color-silver">Open Hours</h4>
                    <ul class="list-unstyled open-hours">
                        <li class="d-flex justify-content-start"><span class="left-column-day">{time_1}</span></li>
                        <li class="d-flex justify-content-start"><span class="left-column-day">{time_2}</span></li>
                        <li class="d-flex justify-content-start"><span class="text-pink">Last oppointment 6:00 PM</span></li>        
                    </ul>
                    <nav class="nav nav-mastfoot justify-content-start">
                        <a class="nav-link nav-link-footer" target="_blank" data-facebook
                           href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="nav-link nav-link-footer" target="_blank" data-instagram
                           href="">
                           <i class="fab fa-instagram"></i>
                        </a>
                        <a class="nav-link nav-link-footer" target="_blank" data-google
                           href="">
                            <i class="fab fa-google"></i>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 mb-3 border-top-footer">
                <div class="footer-widget pl-lg-1 pl-0">
                    <h4 class="color-silver">Contact Us</h4>

                    <h5 class="color-silver-2">Address</h5>
                    <p class="text-pink">{address}</p>
                    <h5 class="color-silver-2">Tel</h5>
                    <a href="tel:+7818741815" class="text-pink" data-phone><p>{phone}</p></a>
                    <h5 class="color-silver-2">Email</h5>
                    <p class="text-pink">{email}</p>
                </div>
            </div>
            <div class="col-md-12 d-flex align-items-center border-top-footer">
                <p class="mx-auto text-center mb-0 color-silver-2">Copyright 2022. All Rights Reserved. Design by <a
                        href="https://www.lldtek.com" target="_blank" class="nav-link-footer no-bg">LLDTEK</a></p>
            </div>

        </div>
    </div>
</footer>